<div class="modal fade" id="modalAbout" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content text-light" style="background-color: #9f6bdc">
            <div class="modal-header">
                <h3 class="modal-title" id="aboutModalLabel">What is this about?!</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container px-4 py-4">
                    <div class="row flex-lg-row-reverse align-items-center g-5 ps-5">
                        <div class="col-10 col-sm-8 col-lg-6 mb-4 mb-lg-0">
                            <img src="static/images/Angela_Yu.jpg"
                                 class="d-block mx-lg-auto img-fluid rounded-circle mb-4"
                                 alt="Picture of Angela Yu"
                                 style="width: 200px; height: 200px; object-fit: cover;"
                                 loading="lazy">
                            <img src="static/images/my_anime_sq.jpg"
                                 class="d-block mx-lg-auto img-fluid rounded-circle"
                                 alt="Anime picture of Juan Silva"
                                 style="width: 200px; height: 200px; object-fit: cover;"
                                 loading="lazy">
                        </div>
                        <div class="col-lg-6">
                            <h1 class="display-8 fw-bold text-body-emphasis lh-1 mb-4">This is my way to say Thanks to my teacher!</h1>
                            <p class="lead">She is the responsable for this, I have learned a lot about Python and web development.
                                In other words: this page is sponsored by Dr. Angela Yu and her course.</p>
                            <a href="https://www.udemy.com/course/100-days-of-code/" target="_blank" class="text-warning">
                                <p class="lead">100 Days of Code: The Complete Python Pro Bootcamp</p>
                            </a>
                            <p class="lead">Ah, this is me! (anime version, bottom) and the one on the top is her. 😆<br>
                            And, this is my site:</p>
                            <a href="https://juan-silva-python-developer.onrender.com" target="_blank" class="text-warning"><p class="lead">https://juan-silva-python-developer.onrender.com</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
